/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/files
/public/.htaccess_IONOS
/storage/*.key
/storage/app/check-webhook
/storage/app/import-webhook
/vendor
.env
.env.backup
.env.production
.env_serverIONOS
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/docker-compose/mysql
